<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<body>
<h1> {{ request.user }}</h1>

{#{% for product in products %}#}
{#    <div>#}
{#        <p>Название продукта: {{ product.name }}</p>#}
{#        <p>Цена: {{ product.price }}</p>#}
{#        <p>Описание: {{ product.description }}</p>#}
{#        <p>Дата добавления: {{ product.created }}</p>#}
{#    </div>#}
{#    <br>#}
{#{% endfor %}#}

{#<form id='form' action="http://127.0.0.1:8000/" method="post">#}
{#    {% csrf_token %}#}
{#    Название продукта <input name="name" type="text">#}
{#    <br>#}
{#    Цена <input name="price" type="number">#}
{#    <br>#}
{#    Описание <input name="description" type="text">#}
{#    <br>#}
{#    <input id='sbm' type="submit">#}
{#</form>#}
    Название продукта <input id="name" name="name" type="text">
    <br>
    Цена <input id="price" name="price" type="number">
    <br>
    Описание <input id="description" name="description" type="text">
    <br>
    <input id='sbm' type="submit">
<script>

    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
    const csrftoken = getCookie('csrftoken');


    button = document.getElementById('sbm');
    button.addEventListener('click', function (){
        let name = document.getElementById('name').value;
        let price = document.getElementById('price').value;
        let description = document.getElementById('description').value;
        const url = 'http://127.0.0.1:8000/';
        let headers = {
              'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
          }
        let body = {
            'name': name,
            'price': price,
            'description': description
        }
        let options = {
          method: 'POST',
          headers: headers,
          body: JSON.stringify(body)
        };
        fetch(url, options);
    });
</script>
<br>
    </body>
</html>